#bloc-externe{ 
float: left;
width : 25% ;
margin: 5px 50px 5px 50px;
font-size:100%;
border-style: solid;
}
#bloc-interne{
float: left;
top:0px;
padding:0px;
margin:0px;
border:0;
}
h1{
text-align: center;}
h3{
text-align: right;}
